
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$red: #C41E3A;

// Grays
$black: #000;
$tansparentBlack: rgba(0, 0, 0, 0.4);
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #F2F2F2;

// Font stacks
$serif: 'Gentium Book Basic', serif;
$sansSerif: Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}